*{margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: fredoka, sans-serif;}

#home
{
	display: flex;
	background-image: url("images/me.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	color: #fff;
	min-height: 500px;
}

.home .max-width
{
	margin-left: 800px;
}
/*background-image 
{
filter: blur(5px);
}*/

.navbar
{
	background-color: black;
	position: fixed;
	padding: 15px 0;
	width: 100%;
}
.max-width
{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;

}
.navbar .max-width
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .menu li
{
list-style: none;
display: inline-block;

}
.navbar .logo a
{
	color: goldenrod;
	font-size: 35px;
	font-weight: 600;
}
.menu li a
{
	color:red;
	align-items: center;
	padding: 15px;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 500;
}

.menu li a:hover
{
	color:goldenrod;
	transition: .4s;
}

.home .home-content .text-1
{
	font-size: 25px;
}
.home .home-content .text-2
{
	font-size: 75px;
	font-weight: 600;
}
.home .home-content .text-3
{
	font-size: 40px;

}